./makefile
.vscode

PrimeNumber/build/*
Modular/build/*
PigeonholePrinciple/build/*
Arrays/PartialSums/build/*
Arrays/RangeUpdateTrick/build/*
Arrays/FrequencyArray/build/*
Arrays/MaximumSumSubArray/build/*
Arrays/Longest_Consecutive_Numbers_Subarray/build/*
Arrays/Sliding_Window_Technique/build/*
Arrays/SDL_Vector/build/*
Arrays/SubarrayThatSumUptoK/build
Matrices/Matrix/build/*
Matrices/PartialSumsOnMatrix/build/*
Matrices/MaximumSumSubMatrix/build/*
Matrices/MaximumSizeOfSquareFullOfOne/build/*
BinarySearch/bSerach/build
BinarySearch/MinCapacityTransportation/build/*
BinarySearch/MaximumNumberOfGroup/build/*
BinarySearch/MaximumSpecialDistance/build/*
BinarySearch/MedianOfArray/build
Recursion/Combination/build
Recursion/BinarySearch/build
Recursion/FillAlgorithm/build
Recursion/Permutation/build
Recursion/MaxSumSubarrayDandC/build
Recursion/Z-Traversal/build
Recursion/TheNQueens/build
DynamicProgramming/knapsack/build
DynamicProgramming/LongestCommonSubsequence/build