./makefile
.vscode

PrimeNumber/build/*
Modular/build/*
PigeonholePrinciple/build/*
Arrays/PartialSums/build/*
Arrays/RangeUpdateTrick/build/*
Arrays/FrequencyArray/build/*
Arrays/MaximumSumSubArray/build/*
Arrays/Longest_Consecutive_Numbers_Subarray/build/*